.header {
    height: 80px;
    background-color: #1C2B35;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

nav.header a{
    text-decoration: none;
    color: #FFFFFF;
}
.header-links-container{
    display: flex;
    gap: 30px;
}
.user-info-nav a{
    display: flex;
    gap: 20px;
}
.user-info-nav a:nth-child(2){
    cursor: pointer;
}

nav.header a:hover{
    color: orange;
}