.form-container {
    background: #FFFFFF;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin: 32px auto 0px;
    width: 33.33%;
    padding: 32px 42px 42px;
}

.form-title {
    margin-top: 0px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.0025em;
    color: #2A414F;
}

.form-control {
    margin-bottom: 20px;
}

.form-control label {
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    margin-bottom: 8px;
    color: #2A414F;
}

.form-control input {
    width: 100%;
    padding: 8px 12px;
    box-sizing: border-box;
    font-size: 1.5em;
    border: 1px solid #95A0A7;
    border-radius: 5px;
}

.form-btn {
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    text-align: center;
    width: 100%;
    color: #0E161A;
    margin-bottom: 8px;
}

.form-container p {
    margin: 0px 0px 32px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 0.0025em;
    color: #2A414F;
    text-align: center;
}

.form-container p a {
    margin-left: 8px;
    text-decoration: none;
    color: #FF9900;
}

.or-container {
    margin: 0px 30px 32px;
    box-sizing: border-box;
    position: relative;

}

.or-container p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0px 28px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #95A0A7;
}

.social-sign-in-container {
    border: 1px solid #95A0A7;
    border-radius: 5px;
    padding: 12px 0px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.social-sign-in-container img {
    height: 32px;
    width: 32px;
}

.social-sign-in-container p {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;

    color: #2A414F;
}