@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
/* ----------------------------------------------------------------------------------------- */
/*  ----------------------------------- Form CSS ------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
.form-container {
  background: #FFFFFF;
  border: 1px solid #95A0A7;
  border-radius: 8px;
  margin: 32px auto 130px;
  width: 33.33%;
  padding: 32px 42px 42px;
  box-shadow: #FFE0B3 -12px 12px;
}

.form-title {
  margin-top: 0px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: 0.0025em;
  color: #2A414F;
}

.form-control {
  margin-bottom: 20px;
}

.form-control label {
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.0015em;
  margin-bottom: 8px;
  color: #2A414F;
}

.form-control input {
  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
  font-size: 1.5em;
  border: 1px solid #95A0A7;
  border-radius: 5px;
}

.form-btn {
  background: rgba(255, 153, 0, 0.3);
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  text-align: center;
  width: 100%;
  color: #0E161A;
  margin-bottom: 8px;
}

.form-container p {
  margin: 0px 0px 32px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: 0.0025em;
  color: #2A414F;
  text-align: center;
}

.form-container p a {
  margin-left: 8px;
  text-decoration: none;
  color: #FF9900;
}

.or-container {
  margin: 0px 30px 32px;
  box-sizing: border-box;
  position: relative;

}

.or-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 0px 28px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #95A0A7;
}

.social-sign-in-container {
  border: 1px solid #95A0A7;
  border-radius: 5px;
  padding: 12px 0px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.social-sign-in-container:hover {
  box-shadow: 0px 0px 20px 5px whitesmoke;
  transition: background-color 200ms ease;
  cursor: pointer;
  transform: scale(1.01);
}

.social-sign-in-container img {
  height: 32px;
  width: 32px;
}

.social-sign-in-container p {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #2A414F;
}
.errorMessage{
  color: rgb(208, 56, 56) !important;
}
.successMessage{
  color: rgb(28, 175, 28) !important;
}